<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Better Private Note!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>

<div class="container">
    <nav class="nav"><h3> Private Note </h3></nav>

    <form class="main-form" action="/create-note" name="noteForm" method="post">
        <textarea placeholder="What's on your mind?" id="content" class="text" cols="78" rows="20"
                  name="content"></textarea>
        <input type="submit" value="Send Note" class="submit-button">
    </form>
</div>
</body>
</html>